._header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: white;
    background-color: gray;
}
._menu {
    display: flex;
    list-style: none;
}
._menu li {
    margin-right: 25px;
}
